PAYMENT_MODE=test
RAZORPAY_KEY_ID=rzp_test_Tm71xu5DcNWN0T
RAZORPAY_KEY_SECRET=BjR3q8gebz6UWAdQvDvKsntw
PAYMENT_API_PORT=3001
VITE_SUPABASE_URL=https://eoldyacpshiuibkiblhz.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_WiLfhrOvWEv9SJsOrgubFg_pgwr8oC_
